span.psw {
  float: right;
  padding-top: 16px;
}

.ising {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

.id02 {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  width: 400px;
  height: auto;
  padding: 25px;
  border-radius: 20px;
}

/* The Close Button (x) */
.closeee {
  color: #000;
  font-size: 35px;
  cursor: pointer;
}
.imgcontainer {
  height: 80px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.imgcontainer > p {
  font-size: 22px;
}
.cominbutons {
  height: 45px;
  width: 100%;
  border-bottom: 2px solid rgb(116, 115, 115);
}
.sigbunn {
  height: 100%;
  width: auto;
  padding: 10px;
  font-size: 16px;
  background-color: #ffff;
  border: 0px;
  cursor: pointer;
}
.sigbunn:hover {
  border-bottom: 3px solid rgb(0, 0, 0);
}
#form {
  height: auto;
  width: 100%;
  margin-top: 15px;
}
#form > h2 {
  margin-top: 10px;
  font-size: 14px;
  color: rgb(62, 62, 62);
}
#form > input {
  height: 42px;
  width: 100%;
  margin-top: 5px;
  border-radius: 10px;
}
#checkbox {
  height: 40px;
  margin-top: 5px;
  display: flex;
  align-items: center;
}
.hfglp {
  height: 20px;
  width: 20px;
}
#checkbox > p {
  margin-left: 10px;
}
#forgot {
  height: 25px;
  width: 100%;
  font-size: 14px;
}
#forgot > a {
  text-decoration: underline;
  color: #000;
}
#submit,
#submit1 {
  margin-top: 15px;
  height: 44px;
  width: 100%;
  background-color: #000;
  border-radius: 10px;
  color: #ffff;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}
#submit:hover,
#submit1:hover {
  background-color: rgb(58, 58, 58);
}
#or {
  height: 25px;
  width: 100%;
  margin-top: 20px;
  text-align: center;
  font-size: 18 0px;
}
.conitinewwith {
  height: 50px;
  width: 100%;
  margin-top: 20px;
  background-color: #ffff;
  border-color: #000;
  border-radius: 10px;
  font-size: 16px;
}
#newtofar {
  height: 35px;
  width: 100%;
  margin-top: 25px;
  font-size: 14px;
  text-decoration: underline;
  cursor: pointer;
  background-color: #ffff;
  border: 0ch;
}
#googleIcon {
  position: relative;
  width: 20px;
  left: -26%;
}
#appleIcon {
  position: relative;
  width: 40px;
  left: -28%;
}
#facebookIcon {
  position: relative;
  width: 20px;
  left: -24%;
}
#checkbox2 {
  height: auto;
  width: 100%;
  margin-top: 10px;
  display: flex;
  align-items: center;
}
#form > p {
  text-align: center;
  margin-top: 10px;
  font-size: 16px;
}
.hfglp2 {
  height: 45px;
  width: 45px;
  font-size: 16px;
}
#checkbox2 > p {
  margin-left: 3px;
  text-align: left;
  font-size: 16px;
}
#checkbox2 > p > span {
  text-decoration: underline;
}
.pageselections > div > button > p > a {
  text-decoration: none;
  color: #000000;
}
