* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
#topadd {
  height: 42px;
  width: 100%;
  background-color: #e6e6e6;
  display: flex;
  align-items: center;
  justify-content: center;
}
#topadd > p > a {
  text-decoration: underline;
  font-size: 16px;
}
#navbar {
  height: 128px;
  width: 100%;
  margin-top: auto;
  background-color: #fff;
  padding-top: 24px;
  padding-bottom: 0px;
  z-index: 1;
}
#navhead {
  height: 45px;
  width: 95%;
  margin: auto;

  display: flex;
}

#pagees {
  height: 44px;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#pagees > p {
  height: 44px;
  width: auto;
  margin-right: 25px;
  padding: 10px 12px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

#mainlogo {
  height: 44px;
  width: 50%;

  text-align: center;
  font-size: 20px;
}
#profile {
  height: 44px;
  width: 25%;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}
#profile > button {
  height: 44px;
  width: 44px;
  background-color: #fff;
  border: 0px;
  padding: auto;
  display: flex;
  align-items: center;
  cursor: pointer;
}
#flag {
  height: 50%;
  width: 50%;
  border-radius: 50%;
}
#navsearch {
  height: 50px;
  width: 95%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
#navsearch > button {
  height: 44px;
  width: 100px;
  margin-left: 15px;
  background-color: #000000;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 0px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
  height: 150px;
  width: 100%;
  background-color: #fefefe;
  margin: auto;
}
.close {
  color: #000000;
  float: right;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  top: 40px;
  left: 95%;
}
#searchpro {
  padding-left: 15px;
}
#mainsearchbutton {
  height: 40px;
  width: 40px;
  position: absolute;
  top: 86px;
  left: 74%;
  background-color: #fff;
  color: #545353;
  border: 0px;
  cursor: pointer;
}
.logobox {
  height: 100%;
  width: 90%;
  margin: auto;
}
.sirlogo {
  height: 44px;
  width: 50%;
  margin: auto;
  padding-top: 30px;
  text-align: center;
  font-size: 20px;
}
.serlogo {
  height: 44px;
  width: 60%;
  margin: auto;
  padding-top: 10px;
  text-align: center;
  font-size: 20px;
}
.serlogo > input {
  height: 44px;
  width: 100%;
}
#dropboxes {
  height: 50px;
  width: 71%;
}

#mmp {
  height: 50px;
  width: 28%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 10px;
}
#searchbar {
  height: 50px;
  width: 70%;
  padding-left: 10px;
  outline: none;
  height: 30px;
  border: 1px solid;
  border-radius: 5px;
  border-color: rgb(148, 145, 145);
}
.sticky {
  position: fixed;
  top: 0;
}
#searchbutn {
  position: absolute;
  right: 10px;

  border: none;
  top: 10px;
  height: 25px;
  cursor: pointer;
  color: rgb(45, 43, 43);
  background-color: #fff;
  font-size: 16px;
}
#bot {
  height: 400px;
  width: 100%;
  margin-top: 100px;
  background-color: #222222;
}
#footer {
  height: 400px;
  width: 95%;
  margin: auto;
  background-color: #222222;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  color: #fff;
}
.fott {
  background-color: #222222;
}
.appios {
  margin-left: 10px;
  margin-top: 25px;
  font-size: 17px;
}
#socialmediaicon {
  height: 44px;
  width: 100%;
  margin-top: 25px;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#socialmediaicon > button {
  height: 40px;
  width: 40px;
  margin-left: 5px;
  font-size: 25px;
  background-color: #222222;
  color: #fff;
  border: 0px;
}
.servisec {
  height: 100%;
  width: 50%;
  background-color: #222222;
}
#fottt {
  display: flex;
}
.servisec > li {
  list-style: none;
  margin-left: 10px;
  margin-top: 10px;
  font-size: 14px;
}
#bottom {
  height: 50px;
  width: 100%;
  background-color: #222222;
  color: #fff;
}
#bottom > div {
  height: 30%;
  width: 95%;
  margin: auto;
}
#bottom > div > p {
  font-size: 13px;
}

/* navbar popup for category */

.subnav {
  float: left;
  overflow: hidden;
}

.subnav .subnavbtn {
  font-size: 14px;
  border: none;
  outline: none;
  color: rgb(50, 50, 50);
  padding: 16px 14px;
  background-color: #fff;
}

.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: #fff;
  width: 100%;
  height: 450px;
  z-index: 1;
  overflow: hidden;
}

.subnav-content a {
  float: left;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.subnav-content a:hover {
  color: rgb(6, 6, 6);
}

.subnav:hover .subnav-content {
  display: block;
}
.catlistbox {
  height: 100%;
  width: 94%;
  margin: auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.catlistbox > div {
  height: 100%;
  width: 33.33%;

  display: flex;
}
.catlist {
  height: 100%;
  width: 50%;
}

.catlist > ul {
  margin-top: 15px;
  font-size: 16px;
  margin-left: 10px;
}
.catlist > li {
  list-style: none;
  margin-top: 20px;
  margin-left: 10px;
  font-size: 15px;
}
#saletab {
  color: red;
}
#catimg {
  display: block;
}
#catimg > img {
  width: 100%;
  height: 80%;
}
#catimg > p {
  font-size: 15px;
  margin-top: 10px;
}
#catimg > h5 {
  color: red;
  font-weight: lighter;
  margin-top: 10px;
}
#catimg > a {
  font-size: 14px;
  margin-top: 10px;
}
#catimg2,
#catimg3,
#catimg4,
#catimg5 {
  display: block;
}
#catimg2 > img,
#catimg3 > img,
#catimg4 > img,
#catimg5 > img {
  width: 100%;
  height: 80%;
}
#catimg2 > p,
#catimg3 > p,
#catimg4 > p,
#catimg5 > p {
  font-size: 15px;
  margin-top: 10px;
}
#catimg2 > h5,
#catimg3 > h5,
#catimg4 > h5,
#catimg5 > h5 {
  font-weight: lighter;
  margin-top: 10px;
}
#catimg2 > a,
#catimg3 > a,
#catimg4 > a,
#catimg5 > a {
  font-size: 14px;
  margin-top: 10px;
}

#catimg6,
#catimg7,
#catimg8,
#catimg9,
#catimg10 {
  display: block;
}
#catimg6 > img,
#catimg7 > img,
#catimg8 > img,
#catimg9 > img,
#catimg10 > img {
  width: 100%;
  height: 80%;
}
#catimg6 > p,
#catimg7 > p,
#catimg8 > p,
#catimg9 > p,
#catimg10 > p {
  font-size: 15px;
  margin-top: 10px;
}
#catimg6 > h5,
#catimg7 > h5,
#catimg8 > h5,
#catimg9 > h5,
#catimg10 > h5 {
  font-weight: lighter;
  margin-top: 10px;
}
#catimg6 > a,
#catimg7 > a,
#catimg8 > a,
#catimg9 > a,
#catimg10 > a {
  font-size: 14px;
  margin-top: 10px;
}
#pagees > p > a {
  text-decoration: none;
  color: #000000;
}
.subnavbtn > a {
  text-decoration: none;
  color: #000000;
}
