*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}
/* inputs */

#userDetails{
    margin-left: 25px;
}
#nameSec, #city-state, #zip-phone{
    display: flex;
    gap: 15px;
}
label{
    display: block;
    margin-bottom: 6px;
}
#pFields{
    width: 70%;
}
#userDetails{
    width: 70%;
    /* border: 1px solid blue; */
}
#pform{
    width: 90%;
    /* border: 1px solid  green; */
    margin:15px auto;
}
#pform>h2{
    font-weight: 200;
    color: rgb(19, 18, 18);
    padding: 20px 0;
}
#pform>div{
    margin-top: 20px;
}
#nameSec>div, #city-state>div, #zip-phone>div{
    width: 50%;
}
#pName, #lastName, #pCity, #pState, #pZip, #pPhone, #pCountry,#pAddress>div>input{
    width: 100%;
    height: 50px;
    border: 1px solid rgb(192, 190, 190);
}
#add-line>div{
    display: flex;
    justify-content: end;
    gap: 15px;
    margin-top: 12px;
    cursor: pointer;
}
#pAddress>div>input{
    margin-top: 12px;
}
#chkInput{
   margin-right: 15px;
   width: 18px;
   height: 18px;
   vertical-align: middle;
}
#checkbox>label{
    font-size: 18px;
    margin-bottom: 30px;
}

/* summery box */
#pSummary{
    width: 20%;
    height: 300px;
    /* border: 1px solid purple; */
    margin: 50px 35px;
    position: -webkit-sticky;
    position: sticky;
    top: 100px;
}

#pSummary>h2{
    font-weight: 200;
    color: rgb(19, 18, 18);
    padding: 0 0 20px 6px;
}
#payContainer{
    display: flex;
    justify-content: space-between;
}
#pDelivery, #pTotal, #r1, #pLeft{
    display: flex;
    justify-content: space-between;
}
#btnBox{
    display: flex;
    justify-content: center;
}
#save-btn{
    margin-top: 30px;
    background-color: rgb(65, 64, 64);
    color: white;
    width: 100%;
    height:45px;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    border: none;
    border-radius: 6px;
}
#pDelivery{
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
    margin-top: 20px;
}
#pTotal{
    margin-top: 20px;
}
#pTotal>div>p:nth-child(1),#pri>p:last-child{
    text-align: end;
}

#signal1, #signal2, #signal3, #signal4, #signal5,  #signal6,  #signal7,  #signal8{
    color: red;
    font-size: 16px;
    font-weight: 600;
    margin-top: 6px;
}
#allDone{
    color: green;
}

#prodImg{
    width: 70px;
    height: 70px;
}

#countryLogo{
    width: 25px ;
    height: 25px;
    border-radius: 50%;
}
#pCountry{
    padding: 15px;
}
#pCountry>option{
    font-size: 16px;
    font-weight: 400;
}









