*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}
/* Navbar */
#pNavbar{
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(172, 172, 172);
    background-color: white;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 5px;
    z-index: 325;
}
#checkouts{
    width: 42%;
    height: inherit;
    display: flex;
    align-items: center;
    gap: 25px;
    padding-left: 25px;
}
#pHelp{
    width: 42%;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
#webLogo{
    width: 42%;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}
#webLogo>img{
    width: 30%;
    height: 18px;
    object-fit: fill;
}
#checkouts>img{
    width: 13%;
    height: 25px;
    object-fit: fill;
}

#clicked:hover, #numClick:hover, #fclicked:hover, #fNumClick:hover{
    color: grey;
    opacity: 1.5;
    font-weight: 600;
    cursor: pointer;
}


/* footer */

#pFooter{
    height: 80px;
    margin-top: 70px;
    background-color: rgb(20, 20, 20);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#pUserName{
    display: flex;
    margin-left: 20px;
}
#pUserName>a{
    color: white;
    margin-left: 15px;
}