*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}
#userDetails{
    width: 80%;
}
#pform{
    width: 100%;
}
#nameSec>div{
    width: 100%;
    height: 80px;
    border: 1px solid rgb(165, 162, 162);
    display: flex;
    justify-content: center;
    align-items: center;
}
#nameSec>div>img{
    width: 50%;
    height: 50%;
    object-fit: fill;
}
#city-state, #zip-phone, #city-state,#checkbox{
    margin-top: 35px;
}
label{
    padding-bottom: 10px;
}

#promoBox{
    height: 100px;
    background-color: rgb(230, 232, 238);
    margin-top: 25px;
}
#promoBox>p{
    padding-top: 8px;
    margin: 0 0 12px 6px;
}

#promoBox>div>input{
    width: 92%;
    height: 40px;
    margin-left: 8px;
}
#suggest{
    border: 1px solid rgb(230, 232, 238);
    margin-top: 20px;
    padding: 20px;
}
#pSummary{
    position: sticky;
    top: 50px;
    bottom: 30px;
}
#userAddBox>h2{
    font-weight: 200;
    color: rgb(68, 68, 68);
    font-size: 16px;
    padding: 15px;
}

#billAdd{
    height: auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(230, 232, 238);
    font-size: 18px;
}
#billAdd>div:last-child>a{
    color: black;
}


